@model IEnumerable<TestTaskLibrary.Domain.Core.Book>
@using TestTaskLibrary.Models.Library
@{
    ViewData["Title"] = "List";
}
<form class="mt-3 mb-3" asp-action="List">
    <div class="input-group">
        <div class="input-group-prepend">
            <select class="custom-select" name="fieldSearch" asp-items="Html.GetEnumSelectList<FieldSearchType>()"></select>
        </div>
        <input class="form-control" type="text" name="search" placeholder="Искать" value="@ViewBag.search" />
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Найти" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookStatus.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var book in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.BookStatus.Status)
            </td>
            <td>
                <div class="input-group">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (book.BookStatus.Status == Status.Free)
                        {
                            <form asp-action="Book">
                                <input type="hidden" name="id" asp-for="@book.Id" />
                                <input class="btn btn-outline-primary" type="submit" value="Забронировать" />
                            </form>
                        }
                        else if (book.BookStatus.Status == Status.Booked && book.BookStatus.User == ViewBag.User)
                        {
                            <form asp-action="Unbook">
                                <input type="hidden" name="id" asp-for="@book.Id" />
                                <input class="btn btn-outline-danger" type="submit" value="Отменить бронь" />
                            </form>
                        }
                    }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
