@model LibraryListViewModel
@using TestTaskLibrary.Models.Library
@{
    ViewData["Title"] = "List";
}

<h3 class="mb-2">Библиотека</h3>

<form class="mt-3 mb-3" asp-action="List">
    <div class="input-group">
        <div class="input-group-prepend">
            <select class="custom-select" asp-for="@Model.SearchType" name="fieldSearch" asp-items="Html.GetEnumSelectList<FieldSearchType>()"></select>
        </div>
        <input class="form-control" asp-for="@Model.Search" type="text" name="search" placeholder="Искать" />
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Найти" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Автор
            </th>
            <th>
                Жанр
            </th>
            <th>
                Статус
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
            
                <td>
                    <a asp-action="BookDatails" asp-controller="Books" asp-route-id="@book.Id">
                        @Html.DisplayFor(modelItem => book.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => book.CurrentStatus.Status)
                </td>
                <td>
                    <div class="input-group">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (book.CurrentStatus.Status == Status.Free)
                            {
                                <form asp-action="Book">
                                    <input asp-for="@Model.Search" type="hidden" name="search" />
                                    <input asp-for="@Model.SearchType" type="hidden" name="fieldSearch" />
                                    <input type="hidden" name="id" asp-for="@book.Id" />
                                    <input class="btn btn-outline-primary" type="submit" value="Забронировать" />
                                </form>
                            }
                            else if (book.CurrentStatus.Status == Status.Booked && book.CurrentStatus.User.Id == ViewBag.User.Id)
                            {
                                <form asp-action="Unbook">
                                    <input asp-for="@Model.Search" type="hidden" name="search" />
                                    <input asp-for="@Model.SearchType" type="hidden" name="fieldSearch" />
                                    <input type="hidden" name="BookId" asp-for="@book.Id" />
                                    <input class="btn btn-outline-danger" type="submit" value="Отменить бронь" />
                                </form>
                            }
                        }
                    </div>
                </td>
            
        </tr>
        
        }
    </tbody>
</table>
