@model List<BookViewModel>
@{
    ViewData["Title"] = "List";
}
    <h3 class="mb-2">Управление книгами</h3>
<div class="mt-1 mb-1">
    <a class="btn btn-link" asp-action="Add">Добавить</a>
    <a class="btn btn-outline-success" asp-route-id="1" asp-action="Report" asp-controller="Library">Отчет</a>
</div>
@if (Model.Count != 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Жанр</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>
                            @book.Title
                        </td>
                        <td>
                            @book.Author
                        </td>
                        <td>
                            @book.Genre
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => book.CurrentStatus.Status)
                        </td>
                        <td>
                            <div class="btn-group">
                                @if (book.CurrentStatus.Status != Status.Issued)
                                {
                                    <a asp-action="Issue" asp-controller="Library" asp-route-id="@book.Id" class="btn btn-outline-primary">Выдать</a>
                                }
                                else
                                {
                                    <form class="input-group-prepend" asp-action="Take" asp-controller="Library" method="post">
                                        <input type="hidden" name="BookId" value="@book.Id" />
                                        <input class="btn btn-primary" type="submit" value="Вернуть" />
                                    </form>
                                }
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-route-id="@book.Id" asp-action="Report" asp-controller="Library">Отчет</a>
                                    <div class="dropdown-divider"></div>
                                    <form asp-action="Delete" method="post">
                                        <input type="hidden" name="Id" value="@book.Id" />
                                        <input class="dropdown-item" type="submit" value="Удалить" />
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Список пользователей пуст</p>
}