@model ReviewViewModel
@{
    ViewData["Title"] = "Edit";
}
    <div class="list-group-item">
        <div class="d-flex flex-column">
            <div class="align-self-end">
                <form asp-action="Delete" asp-route-bookId="@Model.BookAdditionalInfo.Book.Id" asp-controller="Reviews" method="post">
                    <input type="hidden" name="ReviewId" value="@Model.Id" />
                    <input type="submit" class="btn btn-link" value="X" />
                </form>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="mb-1">@Model.User.FullName</h5>
                <small>Оценка: @Model.Rating</small>
            </div>
            <p class="mb-1 text-break">@Model.Content</p>
            <a asp-action="Edit" asp-controller="Reviews" asp-route-ReviewId="@Model.Id" asp-route-bookId="@Model.BookAdditionalInfo.Book.Id" class="btn btn-link">Изменить</a>
        </div>
    </div>

