@model IEnumerable<object>

@{
    ViewData["Title"] = "List";
}
@{
    var t = Model.GetType();
    var gt = t.GenericTypeArguments[0];
    var props = gt.GetProperties();
    var idProp = props.FirstOrDefault(p => p.Name.ToLower() == "id");
    var statProp = props.FirstOrDefault(p => p.Name == "Status");
    var displayProps = props.Where(p => p.GetCustomAttributes(typeof(DisplayAttribute), false).Count() != 0);

    var header = displayProps.Select(p => new { Name = ((DisplayAttribute)(p.GetCustomAttributes(typeof(DisplayAttribute), false).FirstOrDefault())).Name ?? p.Name, ProperyName = p.Name, Propery = p });

    var searhProps = header.Where(i => i.Propery.PropertyType == typeof(string)).Select(i => new SelectListItem(i.Name,i.ProperyName, ViewData["SearchField"]?.ToString() == i.ProperyName));
}


    @await Html.PartialAsync("TopListButtons")

    <form class="mt-3 mb-3" asp-action="List">
        <div class="input-group">
            <div class="input-group-prepend">
                <select class="custom-select" name="searchField" asp-items="searhProps"></select>
            </div>
            <input class="form-control" type="text" value="@ViewData["Search"]" name="search" placeholder="Искать" />
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" value="Найти" />
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                @foreach (var h in header)
                {
                    <th>
                        @h.Name
                    </th>
                }
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    @foreach (var p in displayProps)
                    {
                    <td>
                        @if (p.GetValue(d) is Enum)
                        {
                            var enumT = p.PropertyType;
                            var member = enumT.GetMember(@p.GetValue(d).ToString());
                            var atribs = member[0].GetCustomAttributes(typeof(DisplayAttribute), false);
                            if (atribs.Length <= 0)
                            {
                                @p.GetValue(d);
                            }
                            else
                            {
                                var da = (DisplayAttribute)atribs[0];
                                @da.Name;
                            }
                        }
                        else
                        {
                            @p.GetValue(d);
                        }
                    </td>
                    }
                    <td>
                        @{ 

                                ViewData["id"] = (int)idProp.GetValue(d);

                                if (statProp != null)
                                    ViewData["Status"] = (Status)statProp.GetValue(d);
                        }
                        @await Html.PartialAsync("ItemButtons", ViewData)
                    </td>
                </tr>
            }
        </tbody>
    </table>

@await Html.PartialAsync("Pagination",ViewData)

